body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


#navbar {
  display: flex;
  justify-content: space-between;
}

#lessonslink {
  margin: 0;
  padding: 0;
}

#navlogo {
  width: 20rem;
  margin: .5rem;
}

#augment {
  font-weight: 100;
  color: #37587f;;
}
#ed {
  font-weight: 900;
  color: #0a498c;
}

#augmentedNote {
  font-weight: 100;
}

.responsive {
  width: 100%;
  height: auto;
}

.lessonTextContainer {
  position: relative;
}

.saveIcon {
  position: absolute;
  bottom: 0;
  right: 100;
}

.titleSaveIcon {
  position: absolute;
  bottom: 40%;
  right: 100;

}

.vf-stavenote:hover {
  fill: blue;
  stroke: blue;
}
