body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #2a4783;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#lessonslink {
  margin: 0;
  padding: 0;
}

#navlogo {
  width: 20rem;
  margin: 0.5rem;
}

#augment {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 300;
  -webkit-transform: scale(1, 1.1);
  -moz-transform: scale(1, 1.1);
  -o-transform: scale(1, 1.1);
  transform: scale(1, 1.1);
  color: #37587f;
}

#ed {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  -webkit-transform: scale(1, 1.1);
  -moz-transform: scale(1, 1.1);
  -o-transform: scale(1, 1.1);
  transform: scale(1, 1.1);
  color: #0a498c;
}

#augmentedNote {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 100;
  -webkit-transform: scale(1, 1.1);
  -moz-transform: scale(1, 1.1);
  -o-transform: scale(1, 1.1);
  transform: scale(1, 1.1);
}

#homepagecard {
  background: rgba(254, 253, 253, 0.6);
}

.responsive {
  width: 100%;
  height: auto;
}

.lessonTextContainer {
  position: relative;
}

.saveIcon {
  position: absolute;
  bottom: 0;
  right: 100;
}

.titleSaveIcon {
  position: absolute;
  bottom: 40%;
  right: 100;
}

.vf-stavenote:hover {
  fill: blue;
  stroke: blue;
}

.landing {
  background-image: url("https://images.unsplash.com/photo-1561014816-50ce5acb5e73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#playerPianoDiv {
  cursor: pointer
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  color: gray;
  background-color: white;
}
