body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navlogo {
  width: 33%;
  margin: .5rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.vf-stavenote:hover {
  fill: blue;
  stroke: blue;
}

